ion-content{
    --ion-background-color:linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

ion-item{
    --ion-background-color: transparent;
}

.padding{
    padding: 5%;
}

.logo{
    height: 250px;
    position: relative;
}

.logo ion-icon{
    position: absolute;
    font-size: 9em;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}