ion-content{
    --ion-background-color:linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

ion-title{
    position: relative;
    text-align: center;
}

ion-item{
    --ion-background-color: transparent;
}

.padding{
    padding: 5%;
}